<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIRecognizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MIRecognizer.Properties.Settings>
            <setting name="Error" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="MathLinkInitFail" serializeAs="String">
                <value>Wolfram Mathematica is not installed, or the path to MathKernel.exe could not be found. The program will be closed.</value>
            </setting>
            <setting name="MathLoading" serializeAs="String">
                <value>Loading Wolfram Mathematica</value>
            </setting>
            <setting name="UnsupportedFile" serializeAs="String">
                <value>Unsupported file format.</value>
            </setting>
            <setting name="MathLinkCorrupted" serializeAs="String">
                <value>The connection to MathKernel.exe is corrupted, or the version of Wolfram Mathematica is lower than 11. The program will be closed.</value>
            </setting>
            <setting name="RecognitionProcessing" serializeAs="String">
                <value>Processing Recognition</value>
            </setting>
            <setting name="CacheRemoval" serializeAs="String">
                <value>Cache removal</value>
            </setting>
            <setting name="CacheRemovalProceed" serializeAs="String">
                <value>All temporary files associated with recent computational data are going to be removed. Proceed?</value>
            </setting>
            <setting name="FileFilter" serializeAs="String">
                <value>Аудиофайлы (*.mp3, *.ogg, *.wav, *.aif, *.aiff)|*.mp3;*.ogg;*.wav;*.aif;*.aiff;</value>
            </setting>
        </MIRecognizer.Properties.Settings>
    </applicationSettings>
</configuration>